<script src="{{ base_url() }}/assets/jquery/jquery.min.js"></script>
<script src="{{ base_url() }}/assets/jquery.ui/jquery-ui.min.js"></script>
<script src="{{ base_url() }}/assets/jquery.tablesorter/jquery.tablesorter.min.js"></script>
<script src="{{ base_url() }}/assets/jquery.table.hpaging/jquery.table.hpaging.min.js"></script>
<script src="{{ base_url() }}/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ base_url() }}/assets/main/js/main.js"></script>
</body>
</html>